.logo-container {
  grid-area: logo;
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.nav-container {
  background: rgb(247, 247, 247);
  grid-area: nav;
  display: flex;
  align-items: center;
  padding: 20px 50px 0;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-link {
  margin-right: 30px;
  font-size: 1rem;
  font-weight: 700;
  color: gray;
}

.nav-link a {
  text-decoration: none;
}

.nav-link a:hover {
  padding-bottom: 10px;
  border-bottom: 2px solid orange;
}

.video-container {
  background: orange;
  grid-area: video;
  overflow: hidden;
  max-height: 500px;
  margin-top: 50px;
}

.title-container {
  background: rgb(247, 247, 247);
  grid-area: title;
  font-size: 2rem;
  padding: 100px 50px 0;
}

.title-container h2 {
  margin: 0;
}

.call-to-action-container {
  background: orange;
  grid-area: callToAction;
  display: flex;
  align-items: center;
  justify-content: center;
}

.call-to-action-container a {
  width: 80px;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
}

.schedule-container {
  grid-area: schedule;
  display: flex;
  align-items: center;
}

.schedule-container a {
  font-size: 1.1rem;
  font-weight: 600;
  margin-left: 20px;
  color: rgb(17, 144, 255);
  width: 80px;
}

.sub-container {
  grid-area: subtitle;
  padding: 0 50px;
  background: rgb(221, 220, 220);
}

.sub-container p {
  color: rgb(68, 67, 67);
}

.title2-container {
  grid-area: title2;
  font-size: 2rem;
}

.title2-container h2 {
  margin: 0;
}

.p-container {
  grid-area: paragraph;
  padding: 0 50px;
  background: rgb(247, 247, 247);
}

.p-container button {
  background: orange;
  font-weight: 600;
  color: white;
  margin-top: 20px;
  padding: 15px 30px;
  border: none;
}

.products-container1 {
  grid-area: products1;
}

.products-container2 {
  background: green;
  grid-area: products2;
  display: flex;
  background: rgb(247, 247, 247);
}

.product h3 {
  border-left: 2px solid blue;
  padding-left: 20px;
}

.product p {
  padding-left: 20px;
}

.background1 {
  grid-area: bg1;
  background: rgb(247, 247, 247);
}

.background2 {
  grid-area: bg2;
  background: rgb(247, 247, 247);
}

.background3 {
  grid-area: bg3;
  background: rgb(247, 247, 247);
}

.app-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 2fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr 1fr 1fr 1.5fr 1.5fr;
  grid-template-areas:
    ". logo nav nav ."
    ". video title title ."
    ". video bg1 callToAction ."
    ". schedule subtitle bg2 ."
    ". . bg3 bg3 ."
    ". title2 paragraph paragraph ."
    ". products1 products2 products2 .";
}
